/* Inserta tu CSS aqui */
.contenedor{
	width: 1000px;
	height: 500px;
	background: #8CB27C;
	position: relative;

}

.padre{
	width: 960px;
	height: 460px;
	border: 2px solid white;
	position: absolute;
	left: 20px;
	top:20px;
}

.area{
	width: 160px;
	height:200px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	position: absolute;
}

.derecha{
	top:130px;
	right: 0px;
	border-left: 2px solid white;

}
	

.izquierda{
	top:130px;
	left: 0px;
	border-right: 2px solid white;

}

.centro{
	width:200px; 
	height:200px;
	border: 2px solid white;
	position: absolute;
	top:130px;
	right: 400px;
	border-radius: 50%;
}

.pelota{
	position: absolute;
}

.una{
	top:130px;
	left: 150px;
}

.dos{
	bottom:130px;
	right: 150px;
}

.tres{
	top: 55px;
	left: 500px;
}
